.App {
	position: relative;
	/* margin: 1rem; */
}

a.active {
	color: var(--primary-color);
	stroke: var(--primary-color);
}

.root-0-1-1 {
	background-color: transparent !important;
}

.stepper::-webkit-scrollbar-thumb {
	background: var(--gray-lighter);
	border-radius: 1rem;
}
.stepper::-webkit-scrollbar {
	height: 4px;
}
.stepper::-webkit-scrollbar-track {
	background: transparent;
}
