@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');

:root {
	--white: #ffffff;
	--black: #000000;
	--primary-light: #3981df;
	--primary-color: #0862d7;
	--primary-dark-color: #064eac;
	--gray-lighter: #d0d5dd;
	--gray-light: #98a2b3;
	--icons-color: #667085;
	--gray-color: #475467;
	--gray-darker: #344054;
	--body-background-color: #f4f7fd;
	--gray-shadow: 0 8px 12px 0 #4754670e;
	--danger-dark: #f04438;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'IBM Plex Sans Arabic', sans-serif !important;
}

a {
	text-decoration: none;
	color: var(--icons-color);
	stroke: var(--icons-color);
}

ul li {
	list-style: none;
}
